<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your VERY OWN List of Attractions!</h1>
    <h2>Get the most out of your stay, whether you want to experience the famous tourist traps or the one-of-a-kind, authentic experiences that Las Vegas can offer.</h2>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>